@font-face {
	font-family: 'PT Sans';
	src: url('FileName.eot');
	src: url('../fonts/ptsans-400.woff2') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans-700.woff2') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*-------------------*/

body {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	color: #000;
	background: #F2F2F2;
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container__content {
	min-height: 100%;
	max-width: 1200px;
	box-shadow: 0 0 15px #000;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class$='container'] {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
}

.main {
	flex: 1 1 auto;
	background-color: #fff;
}

.button {
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: 0;
	border-radius: 4px;
	display: inline-block;
}

/* =========Шапка============= */
.header {
	font-size: 20px;
	line-height: 24px;
	min-height: 63px;
	background-color: #fff;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	position: absolute;
	top: 0;
	z-index: 2;
}

.header__links {
	padding-left: 170px;
}

.header__link {
	font-weight: 700;
	padding: 20px 16px;
	min-width: 44px;
	text-decoration: none;
	color: #000;
	display: inline-block;
}

.header__link-right {
	padding: 19.5px 12px;
}

.header__button {
	font-size: 16px;
	margin-left: 20px;
	padding: 8px 34px;
	background-color: #756157;
	border-radius: 4px;
}

/* =============HERO============= */
.hero {
	background: gray url("../images/hero.jpg") 0 0/ 100% no-repeat;
	max-width: 100%;
	height: 485px;
	position: relative;
}

.hero::after {
	content: '';
	width: 38.16%;
	height: 72.57%;
	background: url('../images/welcome.svg') 0 0 / 100% no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -57%);
}

.hero::before {
	content: '';
	width: 100%;
	height: 57px;
	background: url('../images/hero-decor.svg') 0 0 / 100% no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* ===========About=========== */
.about {
	font-size: 22px;
	line-height: 26px;
	color: #333;
	text-align: center;
	margin-bottom: 90px;
}

.about__title {
	font-size: 30px;
	line-height: 36px;
	max-width: 620px;
	text-align: center;
	margin: 69px auto 25px auto;
}

/* ==========Особенности=============== */
.block-blue {
	background-color: #82B3D3;
}

.features__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.features__item {
	flex: 1 1 400px;
	padding: 92px 85px 111px;
	text-align: center;
	color: #fff;
}

.features__item-decor {
	background: rgba(131, 179, 211, 0.12);
}

.features__item-dark-gray {
	background: rgba(131, 179, 211, 0.2);
}

.features__list {
	margin: 0;
	padding: 0;
}

.features__list h2 {
	color: #000;
	margin: 0;
	padding: 0;
	position: relative;
}

.features__list p {
	color: #333;
}

.features__city {
	display: flex;
	flex-wrap: wrap;
}

.features__city img {
	vertical-align: top;
	max-width: 100%;
	height: 100%;
}

.features__devils-bridge {
	display: flex;
	flex-wrap: wrap;
}

.features__devils-bridge img {
	vertical-align: top;
	max-width: 100%;
	height: 100%;
}

.block-blue h2 {
	position: relative;
}

.block-blue h2::after {
	content: '';
	width: 60px;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
}

.features__item-decor h2::after {
	content: '';
	width: 60px;
	height: 2px;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
}

.features__item h2 {
	margin: 0 0 62px 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px;
}

.features__item p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 21px;
}

/* ========Осовные преимущества========== */
.advantages__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.advantages__block {
	padding: 182px 85px 80px;
	flex: 1 1 400px;
	text-align: center;
	position: relative;
}

.advantages__block h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px;
}

.advantages__block p {
	font-size: 18px;
	line-height: 21px;
}

.advantages__housing::before {
	content: '';
	width: 77px;
	height: 72px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
	background: url('../images/house.svg') no-repeat;
}

.advantages__meal::before {
	content: '';
	width: 76px;
	height: 72px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
	background: url('../images/burger.svg') no-repeat;
}

.advantages__souvenirs::before {
	content: '';
	width: 77px;
	height: 76px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
	background: url('../images/surprise.svg') no-repeat;
}

.advantages__block-gray {
	background-color: rgba(131, 179, 211, 0.12);
}

/* ========Поиск======== */
.search {
	max-width: 592px;
	text-align: center;
	margin: 0 auto;
	padding: 8% 8px;
}

.search h2 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
}

.search p {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 54px;
}

.search a {
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	max-width: 376px;
	color: #fff;
	background-color: #756157;
	border-radius: 4px;
	padding: 8px 50px;
	display: inline-block;
}

/* ============Подписка============ */
.subscribe__form {
	font-size: 0;
	text-align: center;
	padding: 5% 10px 9%;
}

.subscribe-title {
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	margin-bottom: 20px;
}

.subscribe__text {
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 54px;
}

.subscribe__block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.subscribe__mail {
	width: 452px;
	height: 52px;
	border-radius: 4px 0 0 4px;
	padding: 12px 20px;
	border: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.subscribe__mail {
	max-width: 100%;
	min-width: 232px;
	margin-bottom: 10px;
}

.subscribe__mail[placeholder] {
	font-size: 18px;
	line-height: 24px;
}

.subscribe__button {
	font-size: 20px;
	line-height: 36px;
	width: 232px;
	height: 52px;
	background-color: #82B3D3;
}

.subscribe-image {
	background: gray url('../images/subscribe.jpg') 0 0 / cover no-repeat;
}

/* =========Подвал========== */
.footer {
	min-height: 120px;
	background-color: #fff;
}

.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 45px;
}

@media (max-width: 500px) {
	.footer__container {
		margin-top: 30px;
	}
}

.footer__left a {
	display: inline-block;
	padding: 11.5px 12.67px;
	margin-bottom: 15px;
}

.footel__center {
	margin-bottom: 15px;
}

.footel__center-tel {
	font-size: 40px;
	line-height: 40px;
	color: #000;
	text-decoration: none;
}

.footer__right {
	margin-bottom: 15px;
}

/* -----------------------Каталог-------------------------------- */
.header__inner {
	background: gray url('../images/catalog-filter-bg.jpg') 0 0 / cover no-repeat;
	padding-top: 35px;
	padding-bottom: 70px;
	color: #fff;
}

.filters__form {
	display: flex;
	flex-wrap: wrap;
}

.header__inner-title {
	font-size: 60px;
	line-height: 78px;
	color: #fff;
	margin-bottom: 8px;
}

.breadcrumb {
	margin-bottom: 40px;
}

.breadcrumb__item {
	position: relative;
}

.breadcrumb-house {
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url('../images/house-breadcrubs.svg') 0 0 / 100% no-repeat;
}

.breadcrumb__item:not(:first-child) {
	margin-left: 28px;
}

.breadcrumb__item:not(:last-child)::after {
	content: '';
	width: 8px;
	height: 11px;
	position: absolute;
	top: 2px;
	right: -20px;
	background: url('../images/arrow-filter.svg') 0 0 / cover no-repeat;
}

.button__sibmit-form {
	width: 191px;
	height: 36px;
	padding: 8px 50px;
	background-color: #82B3D3;
}

.button__reset-form {
	background-color: transparent;
}


/* ===========Каталог товаров============== */
.container-header {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.catalog__searching-result {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 0 auto 15px 0;
	align-self: center;
}

.sort-products {
	font-size: 18px;
	line-height: 21px;
	color: #333;
	width: 292px;
	height: 49px;
	padding: 10px 20px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	font-family: inherit;
	margin-right: 68px;
	margin-bottom: 15px;
}

.catalog-view {
	display: inline-block;
	width: 48px;
	height: 48px;
	align-items: center;
	padding: 14px 12px;
	border-radius: 4px;
	text-align: center;
	border: 2px solid #E5E5E5;
}

.catalog-view:not(:last-child) {
	margin-right: 8px;
}

/* =========Товары=========== */

.catalog__products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 25px 0 40px;
	border-bottom: 1px solid #E6E6E6;
}

.product__card {
	padding: 20px;
	border: 1px solid #E6E6E6;
	display: flex;
	flex-direction: column;
}

.product__card-image {
	display: block;
	margin-bottom: 16px;
}

.product__card-image img {
	max-width: 100%;
	object-fit: cover;
}

.product__card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	flex: 1 0 auto;
	margin: 0;
	margin-bottom: 16px;
}

.product__card-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap: 16px;
}

.product__card-info p {
	margin: 0;
}

.product__card-info b {
	margin: 0;
}

.product__card-house-type {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
}

.product__card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	justify-self: end;
	color: #333;
}

.button__card-detailed {
	font-weight: 700;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #756157;
}

.button__card-favourites {
	font-weight: 700;
	line-height: 20px;
	background: #82B3D3;
	cursor: pointer;
}

.product__card-rating {
	font-weight: 400;
	background: #F2F2F2;
	color: #333;
	max-width: 140px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.button__card-active {
	background-color: #7DB54F;
}

/* ============Звёздный рэйтинг товаров============= */
.product__card-star {
	align-self: center;
	width: 72px;
	height: 18px;
	background: url('../images/star.svg') 0 0 / 18px 18px repeat-x;
}

.desert-star {
	width: 54px;
}

.green-tree-star {
	width: 36px;
}

/* ============Пагинация============== */
.pagination {
	padding: 40px 0 60px;
	display: flex;
}

.pagination__link {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	width: 60px;
	height: 60px;
	margin-right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: #fff;
	background-color: #82B3D3;
}

.pagination__link-two-symbol {
	padding: 1.14% 1.8%;
}

.pagination-active {
	background-color: #F2F2F2;
	color: #000;
}

.pagination__skipping {
	background-color: transparent;
	color: #000;
}

/* ==============Подписка=============== */
.subscribe__catalog-title {
	color: #000;
}

.subscribe__catalog-text {
	color: #333;
}
